<th:block xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="adsense-banner">

		<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- kalkulacka dph -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7085637172523095"
		     data-ad-slot="7978243207"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		
		<br />

	</th:block>

	<th:block th:fragment="analytics">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-60145049-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</th:block>

</th:block>