<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kalkulačka DPH</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<th:block th:include="layout/fragments :: header-libs"></th:block>
</head>
<body>

	<th:block th:include="layout/fragments :: navbar"></th:block>
	
	<div class="container">
	
	<div class="row">
	<div class="col-md-4">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="dph" class="col-sm-5 control-label">DPH %:</label>
		    <div class="col-sm-6">
				<div class="dropdown">
				  <input type="text" class="dropdown-toggle form-control" id="dph" data-toggle="dropdown" aria-expanded="true" />
				    
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dph">
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
				    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">21%</a></li>
				  </ul>
				</div>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="bezDph" class="col-sm-5 control-label">Cena bez DPH:</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="cenaBezDph" placeholder="" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="bezDph" class="col-sm-5 control-label">Cena s DPH:</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="cenaSDph" placeholder="" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="bezDph" class="col-sm-5 control-label">Částka DPH:</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" id="castkaDph" placeholder="" />
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-4 col-sm-2">
		      <button type="submit" class="btn btn-primary">Spočítat</button>
		    </div>
		  </div>
		</form>
	</div>
    <div class="col-md-4">
    	<h2>DPH pro rok 2015:</h2>
    	<ul>
    		<li>10%: Kojenecká výživa, léky, knihy, hudebniny</li>
    		<li>15%: Například jízdenky, ubytování. Veškeré zboží uvedené v <a href="http://www.zakonyprolidi.cz/cs/2004-235#prilohy" target="_blank">příloze 3</a> zákona o DPH, veškeré služby uvedené v <a href="http://www.zakonyprolidi.cz/cs/2004-235#prilohy" target="_blank">příloze 2</a> tamtéž.</li>
    		<li>21%: Naprostá většina zboží a služeb</li>
    	</ul>
    </div>
	</div>


		<th:block th:include="layout/fragments :: footer-libs"></th:block>
		<th:block th:include="layout/fragments :: footer"></th:block>

	</div>

</body>
</html>